<%= render "shared/header" %>


<div class="my-page-body">
  <div class="my-page-main">
    <div class="my-page-tittle">マイページ</div>
    
    <div class="my-page-list-body">
      <div class="my-page-list-left">
        <div class="wrapper-my-page-chat-lists-tittle">
          <div class="my-page-chat-lists-tittle">やりとり中のチャット</div>
        </div>
        
        <div class="my-page-chat-lists-body">
          <div class="my-page-chat-list-left">
            <div class="my-page-chat-list">
              <div class="my-page-chat-list-tittle">部屋の掃除をお願いします！</div>
              <div class="my-page-chat-list-date-time">2020/11/11 20:00~21:00</div>
              <div class="my-page-chat-list-user-name">チャットの相手 : momo</div>
            </div>
          </div>
          <div class="my-page-chat-list-right">
            <div class="my-page-chat-delete">チャットを<br>削除する</div>
          </div>
        </div>
      </div>

      <div class="my-page-list-right">
        <div class="wrapper-my-page-work-lists-tittle">
          <div class="my-page-work-lists-tittle">投稿一覧</div>
        </div>
        <div class="my-page-work-lists-body">
          <div class="my-page-work-list">
            <div class="my-page-work-list-tittle">部屋の掃除をお願いします！</div>
            <div class="my-page-work-list-date-time">2020/11/11 20:00~21:00</div>
          </div>
          <div class="my-page-work-delete-body">
            <div class="my-page-work-delete">投稿を<br>削除する</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= render "shared/footer" %>