<header>
  <div class="header">
    <div class="wrapper-tittle">
      <%= link_to "かじマッチ", "/", class: "site-tittle" %>
    </div>
    <div class="post">
      <%= link_to "投稿する", "#", class: "post-button" %>
    </div>
    <ul class="user-management">
      <li><%= link_to "ログイン", "#", class: "log-in header-button" %></li>
      <li><%= link_to "新規登録", "#", class: "sign-in header-button" %></li>
    </ul>
  </div>
</header>