.wrapper-chat{
  background-color: floralwhite;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper-chat-tittle{
  width: 60%;
  margin-top: 10px;
  display: flex;
}

.chat-tittle-left{
  width: calc(100% - 100px);
  position: relative;
}

.chat-tittle{
  font-size: 30px;
  font-weight: 900;
}

.chat-join-users{
  font-size: 20px;
  margin-top: 10px;
}

.chat-tittle-right{
  display: flex;
  justify-content: end;
}

.matching-btn{
  background-color: red;
  color: white;
  height: 50px;
  width: 100px;
  padding: 12px 5px;
  text-decoration: none;
  text-align: center;
}

.matching-btn:hover{
  background-color: #ff9999;
}

.chat-delete-btn{
  border: 2px solid red;
  color: red;
  font-size: 11px;
  height: 40px;
  width: 60px;
  padding: 6px 0;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
}

.chat-delete-btn:hover{
  border: 2px solid #ff9999;
  color: #ff9999;
}
.chat-matching{
  position: absolute;
  top: 0;
  left: 60%;
  width: 150px;
  color: red;
  border: 2px solid red;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 15px;
  transform: skewY(-5deg);
}

.chat-main{
  background-color: white;
  margin: 10px;
  width: 60%;
  height: calc(100vh - 280px);
  overflow-y: scroll;
}

.chat-message{
  margin: 20px 20px;
}

.message-upper{
  display: flex;
}

.message-user-name{
  font-size: 20px;
  font-weight: 600;
}

.message-date-time{
  font-size: 10px;
  color: dimgray;
  padding-top: 10px;
  margin-left: 20px;
}

.message-text{
  margin: 10px 10px 20px ;
  font-size: 15px;
}

.wrapper-chat-input{
  width: 60%;
  height: 50px;
  margin-bottom: 10px;
}

.message-input{
  width: calc(100% - 100px);
  height: 40px;
}

.message-submit{
  width: 80px;
  height: 40px;
  background-color: red;
  color: white;
  border: none;
}

.message-submit:hover{
  background-color: #ff9999;
}